CarReservationService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p5 (2.4.3.payara-maintenance-5307578; 2021-04-22T12:36:46+0100) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint.midtermcarservice.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://endpoint.midtermcarservice.mycompany.com/" name="CarReservationService">
<types>
<xsd:schema>
<xsd:import namespace="http://endpoint.midtermcarservice.mycompany.com/" schemaLocation="http://localhost:8080/MidTermCarService/CarReservationService?xsd=1"/>
</xsd:schema>
</types>
<message name="getCarReservationBycustomerId">
<part name="parameters" element="tns:getCarReservationBycustomerId"/>
</message>
<message name="getCarReservationBycustomerIdResponse">
<part name="parameters" element="tns:getCarReservationBycustomerIdResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="ExecutionException">
<part name="fault" element="tns:ExecutionException"/>
</message>
<message name="createCarReservation">
<part name="parameters" element="tns:createCarReservation"/>
</message>
<message name="createCarReservationResponse">
<part name="parameters" element="tns:createCarReservationResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="allPos">
<part name="parameters" element="tns:allPos"/>
</message>
<message name="allPosResponse">
<part name="parameters" element="tns:allPosResponse"/>
</message>
<message name="getCarReservationByreservationId">
<part name="parameters" element="tns:getCarReservationByreservationId"/>
</message>
<message name="getCarReservationByreservationIdResponse">
<part name="parameters" element="tns:getCarReservationByreservationIdResponse"/>
</message>
<message name="getBySubmittedDate">
<part name="parameters" element="tns:getBySubmittedDate"/>
</message>
<message name="getBySubmittedDateResponse">
<part name="parameters" element="tns:getBySubmittedDateResponse"/>
</message>
<portType name="CarReservation">
<operation name="getCarReservationBycustomerId">
<input wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationBycustomerIdRequest" message="tns:getCarReservationBycustomerId"/>
<output wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationBycustomerIdResponse" message="tns:getCarReservationBycustomerIdResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationBycustomerId/Fault/InterruptedException"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationBycustomerId/Fault/ExecutionException"/>
</operation>
<operation name="createCarReservation">
<input wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/createCarReservationRequest" message="tns:createCarReservation"/>
<output wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/createCarReservationResponse" message="tns:createCarReservationResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/createCarReservation/Fault/ParseException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/createCarReservation/Fault/InterruptedException"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/createCarReservation/Fault/ExecutionException"/>
</operation>
<operation name="allPos">
<input wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/allPosRequest" message="tns:allPos"/>
<output wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/allPosResponse" message="tns:allPosResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/allPos/Fault/InterruptedException"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/allPos/Fault/ExecutionException"/>
</operation>
<operation name="getCarReservationByreservationId">
<input wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationByreservationIdRequest" message="tns:getCarReservationByreservationId"/>
<output wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationByreservationIdResponse" message="tns:getCarReservationByreservationIdResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationByreservationId/Fault/InterruptedException"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getCarReservationByreservationId/Fault/ExecutionException"/>
</operation>
<operation name="getBySubmittedDate">
<input wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getBySubmittedDateRequest" message="tns:getBySubmittedDate"/>
<output wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getBySubmittedDateResponse" message="tns:getBySubmittedDateResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getBySubmittedDate/Fault/InterruptedException"/>
<fault message="tns:ExecutionException" name="ExecutionException" wsam:Action="http://endpoint.midtermcarservice.mycompany.com/CarReservation/getBySubmittedDate/Fault/ExecutionException"/>
</operation>
</portType>
<binding name="CarReservationPortBinding" type="tns:CarReservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCarReservationBycustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
</operation>
<operation name="createCarReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
</operation>
<operation name="allPos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
</operation>
<operation name="getCarReservationByreservationId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
</operation>
<operation name="getBySubmittedDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
<fault name="ExecutionException">
<soap:fault name="ExecutionException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CarReservationService">
<port name="CarReservationPort" binding="tns:CarReservationPortBinding">
<soap:address location="http://localhost:8080/MidTermCarService/CarReservationService"/>
</port>
</service>
</definitions>